# sqlite data files
data/

# Python
__pycache__/
*.pyc
*.pyo
.venv/

# C++
build/
*.o
*.out

# env vars
.env

#IDEs
.idea

# node modules
node_modules/

# Vite build output
ui_api_gateway/frontend/dist/
ui_api_gateway/dist/
